@media only screen and (max-width: 435px) {
    .navbar .container .navbar-brand {
        margin: 0;
    }
    section {
        margin-top: 20px;
    }
    .text .skills {
        padding: 5px;
        font-size: 12px;
    }
    .text p {
        padding: 0px 15px;
    }
    .pic {
        margin-bottom: 20px;
    }
}