* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #41484F;
}

.social-icons a {
    margin: 5px;
}

strong.title {
    font-family: 'Balsamiq Sans', cursive;
    font-weight: 700;
}

.social-icons a,
strong.title {
    color: #f4f4f4;
    font-size: 18px;
}

.social-icons a:hover,
strong.title:hover {
    color: #004B6B;
    transition: 1s;
}

section {
    margin-top: 50px;
}

.pic {
    border: 5px solid #212529;
    border-radius: 5px;
    text-align: center;
    background-color: #f4f4f4;
}

.pic img {
    width: 225px;
    padding: 30px;
    border-radius: 50%;
}

.pic .pic-social {
    width: 100%;
    background-color: #212529;
    border-radius: 5px, 5px, 0, 5px;
}

.pic .pic-social a {
    padding: 5px;
    font-size: 22px;
    color: #f4f4f4;
}

.pic .pic-social a:hover {
    color: #004B6B;
    transition: 1s;
}

.text-title {
    font-family: 'Balsamiq Sans', cursive;
    font-weight: 700;
    font-size: 32px;
    color: #004B6B;
}

.text-subtitle {
    font-family: 'Balsamiq Sans', cursive;
    font-weight: 400;
    font-size: 28px;
    color: #f4f4f4;
    padding: 10px;
    background-color: #004B6B;
}

.text {
    margin: 0 auto;
}

.text p {
    margin-top: 10px;
}

.text p a {
    color: #004B6B;
    text-decoration: none;
}

.text p a i {
    font-size: 18px;
}

.text .skills {
    font-family: 'Balsamiq Sans', cursive;
    font-weight: 400;
    font-size: 14px;
    color: #f4f4f4;
    padding: 10px;
    background-color: #004B6B;
}

.p-skills {
    margin: 25px;
}